#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "Default Layer";
            // ----------------------------------------------------------------------------------------------------------
            // |  ESC  |  1   |  2   |  3   |  4   |  5   |-------|-------|   6   |  7    |  8   |  9   |   0   | BSPC  |
            // |  TAB  |  Q   |  W   |  E   |  R   |  T   |-------|-------|   Y   |  U    |  I   |  O   |   P   |  \    |
            // | SHIFT |  A   |  S   |  D   |  F   |  G   |-------|-------|   H   |  J    |  K   |  L   |   ;   |  '    |
            // | CTRL  |  Z   |  X   |  C   |  V   |  B   |-------|-------|   N   |  M    |  ,   |  .   |   /   | ENTER |
            // |-------|ADJUST| LCTL | LALT | LGUI | LOWR | SPACE | SPACE |  RAIS | LEFT | DOWN | UARW  | RARW  |-------|


            bindings = <
                &bp ESC    &bp N1 &bp N2    &bp N3   &bp N4   &bp N5                    &bp N6 &bp N7   &bp N8    &bp N9  &bp N0    &bp BSPC
                &bp TAB    &bp Q  &bp W     &bp E    &bp R    &bp T                     &bp Y  &bp U    &bp I     &bp O   &bp P     &bp BSLH
                &bp LSHFT  &bp A  &bp S     &bp D    &bp F    &bp G                     &bp H  &bp J    &bp K     &bp L   &bp SEMI  &bp SQT
                &bp LCTRL  &bp Z  &bp X     &bp C    &bp V    &bp B                     &bp N  &bp M    &bp COMMA &bp DOT &bp FSLH  &bp RET
                           &mo 3  &bp LCTRL &bp LALT &bp LGUI &mo 1 &bp SPACE &bp SPACE &mo 2  &bp LEFT &bp DOWN  &bp UP  &bp RIGHT
            >;
        };
    };
};
